
<section class="bgAbout">
       

</section>




<!-- fixed image background -->

 <section class="bgHome">
        <div class="container-fluid landing-text "> 
                <div class="row about text-center">
                    <div class="col-12">
                        <h2 class="display-4">Peter Joel Miller</h2>
                    </div>
                    <hr>
                    <div class="col-12">
                        
                   <h6 > Drawing from the natural orchestra of chirping birds, howling monkeys and 
                    growling pumas, Kousk weaves a musical adventure through a vibrant jungle
                     of sounds. With intention to design an environment of synchronized movement
                      and growth, her music explores the spirit of imagination.</h6>

                      <h6 > Drawing from the natural orchestra of chirping birds, howling monkeys and 
                            growling pumas, Kousk weaves a musical adventure through a vibrant jungle
                             of sounds. With intention to design an environment of synchronized movement
                              and growth, her music explores the spirit of imagination.</h6>

                              <h6 > Drawing from the natural orchestra of chirping birds, howling monkeys and 
                                    growling pumas, Kousk weaves a musical adventure through a vibrant jungle
                                     of sounds. With intention to design an environment of synchronized movement
                                      and growth, her music explores the spirit of imagination.</h6>
                    
               
                   </div>

<!--- Connect -->


                </div>
            </div>
 </section>


<!--- Welcome Section -->


    
