
<section class="bgAbout"></section>
       
<!-- fixed image background -->

 <section class="bgHome">
        <div class="container-fluid landing-text "> 
                <div class="row about text-center">
                    <div class="col-12">
                            <img id="imgPJ" src="../../../assets/images/profile/pj.jpg">


                        <h2 class="display-4">PJ Miller</h2>
                    </div>
                    <hr>
                    <div class="col-12">       



                        <h6>PJ is an up-and-coming developer who has found passion in writing code and 
                        actualizing ideas into software. By delving both into web technologies 
                        (MEAN / XAMPP / ASP.NET) and backend OOP languages (C++, C#) he has become effective 
                        and proficient at seeing prototypes developed and deployed.</h6>

                        <!-- <h6> Having studied Electrical Engineering Technologies (SAIT, 2005) he went on to become 
                        part-owner and lead sound designer / engineer for an international sound company - PK Sound. 
                        There he worked closely in an elite R&D team creating roboticised large-format line-array loudspeakers. 
                        As the lead sound designer, PJ was heavily involved in sound sculpting the industry recoginized 
                        "Trinty" loudspeaker. As the lead acoustic engineer, PJ was in charge of a lab that created 3D 
                        polar plots of acoustic radiation patterns that are used to create GLL acoustic libraries for end-users.</h6> -->

                        <h6>PJ resides in Langford, BC where he thrives on coding, creating music and hiking with his 
                        partner Anna and Spyra, their Catahoula Lepoard dog.</h6>        
                        

                   </div>
                </div>
           </div>
 </section>

<div></div> 
