<section class="bgContact">

    <div class="modal-dialog text-center">
        <div class="col-sm-12 main-section">
          <div class="modal-content">

             <h1 id="getInTouch">Get in touch</h1>
            
                  <div class="social">
                    <a href="https://github.com/Esylus"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/pj-miller/"><i class="fab fa-linkedin"></i></a>         
                    <a href="https://soundcloud.com/esylus"><i class="fab fa-soundcloud"></i></a>   
                  </div>
  
            <form class="col-12" type="post" (submit)="messageSubmit()">           
              <div class="form-group fullName">
                <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="name" name="name">
              </div>           
              <div class="form-group">
                <input  type="email" class="form-control" placeholder="Enter Email" [(ngModel)]="email" name="email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Phone Number" [(ngModel)]="phone" name="phone">
              </div>
              <div class="form-group">  
                <textarea  class="form-control" name="message" [(ngModel)]="message" rows="4" placeholder="Enter Message"></textarea>
              </div>
              <button href="#" type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Send</button>
            </form>
    
            <div class="col-12 response">
              <p>{{response}}</p>
            </div> 

          </div>    
       </div>
    </div>  
</section>



    
