
    <!--- Performance Hero Slider -->

<div id="slides" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#slides" data-slide-to="0" class="active"></li>
          <li data-target="#slides" data-slide-to="1"></li>
          <li data-target="#slides" data-slide-to="2"></li>
          <li data-target="#slides" data-slide-to="3"></li>
          <li data-target="#slides" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner">
           

          <div class="carousel-item active">
            <!-- <img src="../../../assets/images/portfolio.jpg">  -->
            
            <!--- Two Column Section -->
            <section class="bgDvorak">
                <div class="container-fluid ">
                    <div class="row">         <!-- Only need breakpoints where you go from full screen to anything else-->
                      <div class="col-lg-6">
                        <h2>If you build it...</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus.</p>                      
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus quae eum nemo placeat nostrum, accusantium voluptates numquam animi cumque in porro vel.</p>
                        <br>
                        <a href="#" class="btn btn-primary">Website</a>
                        <a href="#" class="btn btn-primary">GitHub</a>
                        
                      </div>
                      <div class="col-lg-6">
                          <img id="imgSpheres" src="../../../assets/images/profile/spheres.jpg" >

                      </div>
                    </div>
                  </div>
                </section>

          </div>

          <div class="carousel-item">
                  <!--- Two Column Section -->
                  <section class="bgDvorak">
                  <div class="container-fluid ">
                      <div class="row">         <!-- Only need breakpoints where you go from full screen to anything else-->
                        <div class="col-lg-6">
                          <h2>If you build it...</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus.</p>                       
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus quae eum nemo placeat nostrum, accusantium voluptates numquam animi cumque in porro vel.</p>
                          <br>
                          <a href="#" class="btn btn-primary">GitHub</a>
                          
                        </div>
                        <div class="col-lg-6">
                            <img id="imgNoterize" src="../../../assets/images/profile/noterize.jpg" >

                        </div>
                      </div>
                    </div>
                  </section>
          </div>


      <div class="carousel-item">
          <!--- Two Column Section -->
          <section class="bgDvorak">
          <div class="container-fluid ">
              <div class="row">         <!-- Only need breakpoints where you go from full screen to anything else-->
                <div class="col-lg-6">
                  <h2>If you build it...</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus.</p>                
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus quae eum nemo placeat nostrum, accusantium voluptates numquam animi cumque in porro vel.</p>
                  <br>
                  <a href="#" class="btn btn-primary">Website</a>
                  <a href="#" class="btn btn-primary">GitHub</a>

                </div>
                <div class="col-lg-6">
                    <img id="imgEarTraining" src="../../../assets/images/profile/eartraining.jpg" >
                </div>
              </div>
            </div>
          </section>
  </div>

          <div class="carousel-item">
              <!--- Two Column Section -->
              <section class="bgDvorak">
              <div class="container-fluid ">
                  <div class="row">         <!-- Only need breakpoints where you go from full screen to anything else-->
                    <div class="col-lg-6">
                      <h2>If you build it...</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus.</p>                   
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus quae eum nemo placeat nostrum, accusantium voluptates numquam animi cumque in porro vel.</p>
                      <br>
                      <a href="#" class="btn btn-primary">GitHub</a>
                      
                    </div>
                    <div class="col-lg-6">
                        <img id="imgDvorak" src="../../../assets/images/profile/dvorak.jpg" >

                    </div>
                  </div>
                </div>
              </section>
      </div>


  <div class="carousel-item">
      <!--- Two Column Section -->
      <section class="bgDvorak">
      <div class="container-fluid ">
          <div class="row">         <!-- Only need breakpoints where you go from full screen to anything else-->
            <div class="col-lg-6">
              <h2>If you build it...</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus.</p>
            
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus quae eum nemo placeat nostrum, accusantium voluptates numquam animi cumque in porro vel.</p>
              <br>
              <a href="#" class="btn btn-primary">GitHub</a>
              
            </div>
            <div class="col-lg-6">
                <img id="imgCalculator" src="../../../assets/images/profile/calculator.jpg" >

            </div>
          </div>
        </div>
      </section>
</div>

        </div>
      </div> 


<!-- </section> -->







    <!-- <div class="carousel-caption">
        <h1 class="display-2">Performance</h1>
        <h3>What are your dreams made of anyways?</h3>
        <button type="button" class="btn btn-outline-light btn-lg">Production</button>
        <button type="button" class="btn btn-primary btn-lg">Sign Up Now</button>
      </div> -->