
<section class="bgPortfolio">
    <div class="port-intro text-center">
        <h1>Projects</h1>
        <h2 class="display-2">Developed by Peter Joel Miller</h2>
        <hr>
        <h5>Scroll through works and their linked code via GitHub</h5>
        <h5>Work-in-progress denoted with (-WIP-)</h5>
    </div>
</section>


<!---  Spheres Section -->

        <div class="port text-center">
                <h2>Spheres School of Music</h2>
                <h3>Small business web application (-WIP-)</h3>
                <h4>Built on a MEAN stack</h4>
                <div class="projLinks">
                        <a href="http://www.spheresschool.ca" class="btn btn-primary">See Website</a>
                        <a href="https://github.com/Esylus/SpheresSchool"><i class="fab fa-github"></i></a>
                </div>
                <div class="col-12">
                        <img id="imgSpheres" src="../../../assets/images/profile/spheres.png">

                        <h6 >Spheres is dedicated to fueling the inspiration and curiosity of every student. Whether it's
                        exploring piano basics, composing songs or producing with music software, Spheres has the expertise.</h6>

                        <h6 >This website was created for a Victoria, BC based music school start-up that teaches a range of
                        musical technologies. The site was created in Angular 5 with an Express.js / MongoDB backend in
                        anticipation of future development that will add HTML5/js browser learning games to reinforce musical
                        lessons. The following project "Noterize" is a prototype of such a musical learning game.</h6>
                </div>
        <hr>
</div>

<!--- Noterize Section -->

<div class="port text-center">
                <h2>Noterize</h2>
                <h3>Quickly memorize musical notation</h3>
                <h4>Built with C#, VS, SQLite, N-Unit</h4>

                <div class="projLinks">
                        <a href="https://github.com/Esylus/Noterize"><i class="fab fa-github"></i></a>
                </div>

                <div class="col-12">
                        <img id="imgNoterize" src="../../../assets/images/profile/noterize.png">

                        <h6>Gameplay: User pick notes they want to memorize by selecting from checkboxes on startup. User  can
                        input from typing keyboard or from any USB midi keyboard device. User chosen notes will then be served
                        randomly for 1 minute scoring +5 for correct answers and -3 for incorrect. Practice sets can be saved
                        as user presets to be loaded in future sessions.</h6>

                        <h6>Pressing 'Learn' button activates a learning optimization that will observe a user through their
                        first round and then optimize via spaced repitition. The following rounds will be weighted to allow players 
                        increased exposure to notes they are weak with and decreased exposure to notes they have memorized. 
                        This increases the efficiency of their learning curve.</h6>
                </div>
        <hr>
</div>

<!--- Ear Training Section -->

<div class="port text-center">
                <h2>Acoustic Training</h2>
                <h3>Audio training web application (-WIP-)</h3>
                <h4>Built on a MEAN stack with Passport.js, Bcrypt.js, Jsonwebtoken,  Mongoose, Nodemailer</h4>

                <div class="projLinks">
                        <a href="https://eartrain.herokuapp.com/" class="btn btn-primary">See Website</a>
                        <a href="https://github.com/Esylus/EarTraining"><i class="fab fa-github"></i></a>
                </div>

                <div class="col-12">
                        <img id="imgEarTraining" src="../../../assets/images/profile/eartraining.png">

                        <h6>Learn to hear how different audio engineering tools process signals. Only by studying the subtle nuances
                        of sound can one become an effective sound designer, producer or sound technologist.</h6>

                        <h6>This website has been created to host a profitable, online sound engineering curriculum that will teach
                        users to hear the effects of many acoustic processes - compression, saturation, limiting, filtering, gain-structure,
                        panning, delay, phaser, chorus and many more. </h6>

                        <h6>In preperation for users being able to register, login and use the web app, the backend has been built using
                        Express.js and Mongoose / MongoDB with authentication by Passport, Jsonwebtoken and Bcrypt . Users will play the games
                        in the browser but be able to save their own profile, presets, example wave files, statistics, progress, goals and other deactivated.</h6>
                </div>
        <hr>
</div>


<!--- Dvorak Training Section -->

<div class="port text-center">
                <h2>Dvorak</h2>
                <h3>A typing app designed to master typing the Dvorak layout</h3>
                <h4>Built with C#, VS, SQLite, N-Unit</h4>

                <div class="projLinks">
                        <a href="https://github.com/Esylus/Dvorak"><i class="fab fa-github"></i></a>
                </div>

                <div class="col-12">
                        <img id="imgDvorak" src="../../../assets/images/profile/dvorak.png">

                        <h6>Gameplay: User picks keys they require practice with by selecting from the rendered keyboard on startup. User chosen keys
                        will then be served randomly for 1 minute scoring +5 for correct answers and -3 for incorrect. Practice sets can be saved
                        as user presets to be loaded in future sessions.</h6>
                                
                        <h6>Pressing 'Focus' button activates a learning optimization that will observe a user through their
                        first round and then optimize via spaced repitition. The following rounds will be weighted to allow players 
                        increased exposure to keys they are weak with and decreased exposure to keys they are competent with. 
                        This increases the efficiency of their learning curve.</h6>
                </div>
        <hr>
</div>

<!--- Esylus Section -->

<div class="port text-center">
                <h2>Esylus Music</h2>
                <h3>Original compostions and production studio work</h3>
                <h4>Composed, mixed & mastered with Ableton and Izotope</h4>

                <div class="projLinks">
                        <a href="https://soundcloud.com/esylus"><i class="fab fa-soundcloud"></i></a>
                </div>

                <div class="soundcloud">
                     
                </div>

                <div class="col-12">
                        <img id="imgAbleton" src="../../../assets/images/profile/ableton.png">

                        <iframe width="60%" height="300" scrolling="no" frameborder="no" allow="autoplay" 
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/356554148&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                
                        <h6 >An acoustic whisper in the dark - Esylus pushes classical elements to the forefront of production with nylon string guitars,
                        orchestra and grain delays. Listen as instruments modulate and perish, only to be reborn again. </h6>
                </div>
        <hr>
</div>

<!--- Kousk Section -->

<div class="port text-center">
                <h2>Kousk Music</h2>
                <h3>Production studio work</h3>
                <h4>Mixed & Mastered with Ableton and Izotope</h4>

                <div class="projLinks">
                        <a href="https://soundcloud.com/kousk"><i class="fab fa-soundcloud"></i></a>
                </div>

                <div class="col-12">

                        <iframe width="60%" height="300" scrolling="no" frameborder="no" allow="autoplay" 
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/251906&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

                        <h6 >Drawing from the natural orchestra of chirping birds, howling monkeys and growling pumas, Kousk weaves a musical adventure through
                        a vibrant jungle of sounds. With intention to design an environment of synchronized movement and growth, her music explores the
                        spirit of imagination. </h6>
                </div>
        <hr>
</div>


<!--- PK Sound Section -->

<div class="port pk text-center">
                <h2>PK Sound</h2>
                <h3>Acoustic Engineer 2008 - 2017</h3>
                <h4>Concert loudspeaker sound design</h4>

                <div class="projLinks">
                         <a href="https://www.pksound.ca/trinity" class="btn btn-primary">See Website</a>
                </div>

                <div class="videos">
                                <iframe width="60%" height="315" src="https://www.youtube.com/embed/oX45eQDO-T4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                <iframe width="60%" height="315" src="https://www.youtube.com/embed/RONAhWfeA7w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>

                <div class="col-12">
                        <h6 >Lead R&D sound designer for international touring sound company - PK Sound. Developed multiple industry loudspeakers including
                        the "Trinity", PK's flagship large-format line array. Head of Acoustic lab responsible for all loudspeaker measurement activities
                        and predictive sound analysis generic loudspeaker library compilation. Lead sound tech / system engineer for hundreds of concerts 
                        taking place all over North America and Europe for crowds of up to 25 000. Lead sound educator for external clients and internal 
                        junior technicians.</h6>

                        <img id="imgAward" src="../../../assets/images/profile/award.jpg">
                </div>
        <hr>
</div>

