
<section class="bgPortfolio">
    <div class="port-intro text-center">
             
            <h1>Projects</h1>
            <h2 class="display-2">Built by Peter Joel Miller</h2>
            <hr> 
            <h5>Anna can tune into the individual needs of the student...</h5>
            <h5>My daughter also really appreciated having input into the lesson plan ...</h5>              
            <h5>This is all because Anna made learning fun...</h5>
            <h5> I cannot recommend her highly enough...</h5>
          </div> 
</section>


<!---  Spheres Section -->

        <div class="port text-center">			           
                <h2>Spheres School of Music</h2>
                <h3>A small business web application</h3>
                <h4>Built on a MEAN stack</h4>
                        <a href="#" class="btn btn-primary">See Website</a>
                        <br>
                        <a href="https://github.com/Esylus/SpheresSchool"><i class="fab fa-github"></i></a>
                
                <div class="col-12">
                        <img id="imgSpheres" src="../../../assets/images/profile/spheres.jpg">

                    <h6 >"When I went out to search for a piano instructor for my daughter I was looking for someone 
                    who of course loved music but more importantly could pass that love along and make the learning 
                    experience fun, not a chore. Also, someone who had patience, they were working with kids 
                    to speak to kids and keep them engaged. It has been a joy watching them work together!" </h6>
                   </div>

                   <hr>  
        </div>

<!--- Noterize Section -->

<div class="port text-center">			           
                <h2>Noterize</h2>
                <h3>A notational learning game prototype </h3>
                <h4>Built with C#, VS, SQL</h4>
                
               
                        <br>
                        <a href="https://github.com/Esylus/Noterize"><i class="fab fa-github"></i></a>
                
                <div class="col-12">
                        <img id="imgNoterize" src="../../../assets/images/profile/noterize.jpg">

                    <h6 >"When I went out to search for a piano instructor for my daughter I was looking for someone 
                    who of course loved music but more importantly could pass that love along and make the learning 
                    experience fun, not a chore. Also, someone who had patience, they were working with kids 
                    to speak to kids and keep them engaged. It has been a joy watching them work together!" </h6>
                   </div>

                   <hr>  
        </div>

<!--- Ear Training Section -->

<div class="port text-center">			           
                <h2>Audio Engineering Ear Training</h2>
                <h3>A web app to host acoustic training exersizes </h3>                
                <h4>Built on a MEAN stack</h4>
                        <a href="#" class="btn btn-primary">See Website</a>
                        <br>
                        <a href="https://github.com/Esylus/EarTraining"><i class="fab fa-github"></i></a>
                
                <div class="col-12">
                        <img id="imgEarTraining" src="../../../assets/images/profile/eartraining.jpg">

                    <h6 >"When I went out to search for a piano instructor for my daughter I was looking for someone 
                    who of course loved music but more importantly could pass that love along and make the learning 
                    experience fun, not a chore. Also, someone who had patience, they were working with kids 
                    to speak to kids and keep them engaged. It has been a joy watching them work together!" </h6>
                   </div>

                   <hr>  
        </div>
    

<!--- Dvorak Training Section -->

<div class="port text-center">			           
                <h2>Dvorak</h2>
                <h3>A typing app to master the Dvorak layout</h3>
                <h4>Built with C#, VS, SQL</h4>
                
                
                        <br>
                        <a href="https://github.com/Esylus/Dvorak"><i class="fab fa-github"></i></a>
                
                <div class="col-12">
                        <img id="imgDvorak" src="../../../assets/images/profile/dvorak.jpg">

                    <h6 >"When I went out to search for a piano instructor for my daughter I was looking for someone 
                    who of course loved music but more importantly could pass that love along and make the learning 
                    experience fun, not a chore. Also, someone who had patience, they were working with kids 
                    to speak to kids and keep them engaged. It has been a joy watching them work together!" </h6>
                   </div>

                   <hr>  
        </div>


<!--- Kousk Section -->

<div class="port text-center">			           
                <h2>Kousk Music</h2>
                <h3>Acoustic production studio work</h3>
                <h4>Mixeing / Mastered with Ableton and Izotope</h4>
                
                
                        <br>
                        <a href="https://soundcloud.com/kousk"><i class="fab fa-soundcloud"></i></a>
                
                <div class="col-12">
                        <img id="imgDvorak" src="../../../assets/images/profile/kousk.jpg">

                    <h6 >"When I went out to search for a piano instructor for my daughter I was looking for someone 
                    who of course loved music but more importantly could pass that love along and make the learning 
                    experience fun, not a chore. Also, someone who had patience, they were working with kids 
                    to speak to kids and keep them engaged. It has been a joy watching them work together!" </h6>
                   </div>

                   <hr>  
        </div>


<!--- Esylus Section -->

<div class="port text-center">			           
                <h2>Esylus Music</h2>
                <h3>Production studio work</h3>
                <h4>Composition / Mixing / Mastered with Ableton and Izotope</h4>
                
                
                        <br>
                        <a href="https://soundcloud.com/esylus"><i class="fab fa-soundcloud"></i></a>
                
                <div class="col-12">
                        <img id="imgAbleton" src="../../../assets/images/profile/ableton.jpg">

                    <h6 >"When I went out to search for a piano instructor for my daughter I was looking for someone 
                    who of course loved music but more importantly could pass that love along and make the learning 
                    experience fun, not a chore. Also, someone who had patience, they were working with kids 
                    to speak to kids and keep them engaged. It has been a joy watching them work together!" </h6>
                   </div>

                   <hr>  
        </div>
    