
<!-- <nav>
    <div class="brand">
        <h2>PJ Portfolio</h2>
    </div>
  <ul>
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/about']">About</a></li>
      <li><a [routerLink]="['/portfolio']">Portfolio</a></li>
      <li><a [routerLink]="['/contact']">Contact</a></li>
  </ul>
</nav> -->

<nav class="navbar navbar-expand-md navbar-dark sticky-top" >
	<div class="container-fluid">
		<a class="navbar-brand" href="#">PJ Portfolio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item" active><a class="nav-link" [routerLink]="['/']">Home</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['/about']" >About</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['/portfolio']">Portfolio</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['/contact']">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>